@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: 'Open Sans', Roboto, sans-serif ;
}

/* headings and logo */

h1{
    font-family: 'Calligraffitti', sans-serif;
}

h2 {
    font-family: Roboto, sans-serif;
}

ul li {
    list-style: none;
    
}

/* sections */
h3 {
    
}