@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Cormorant+SC&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: Roboto, sans-serif ;
}

/* headings and logo */

h1{
    font-family: Roboto, sans-serif;
}

h2, h3 {
    font-family: 'Calligraffitti', sans-serif;
}


#logo {
    float: left;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    color: inherit;
}

/* #menu {
    float: right;
}

#menu li {
    list-style: none;
    display: inline-block;
    padding-top: 5%;
}

li a {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
}

li a:hover {
    text-decoration: underline;
} */

.menu{
    display: flex;
    float: right;
    padding-top: 2%;
}

.menu a {
    text-decoration: none;
    color: inherit;
    margin: 20px;
}

.menu a:hover {
    text-decoration: underline;
}


.active {
    text-decoration: underline;
}

/* hero image */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-elina-fairytale-3822622.jpg') no-repeat;
    background-size: cover;
    background-position: center right
}

#hero-text {
    height: 150px;
    width: 100%;

    position: absolute;

    bottom: 75px;

    font-size: 200%;
    line-height: 50px;
    text-align: center;
 }   

#hero-text h3 {
    font-family: 'Cormorant SC', sans-serif;
}

/* yoga, mediation and mindfulness sections */

#sections-heading {
    font-size: 170%;
}

#sections {
    text-align: center;
    width: 100%;
    height: auto;
}

.sections-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 100%;
    border: solid black 1px;
}
   
.fa-icon {
    font-size: 300%;
    padding-top: 2%;
}

#sections div > h2 {
    font-family: 'Cormorant SC', sans-serif;
    font-size: 200%;
    text-decoration: underline;
    margin-bottom: 15px;
}


#yoga-div {
    background-color: rgba(192,163,126,0.8);
    /* float: left; */
}

#med-div {
    background-color: rgb(192,158,114,0.8);
} 

#mind-div {
    background-color: rgba(192,163,126,0.8);
    /* float: right; */
}

.section-header {
    background-color: rgba(229, 199, 184, 0.6);
    height: 300px;
    padding-bottom: 2.5%;
    margin: 3px 3px;
}

.section-content {
    /* background-color: green; */
    height: auto;
    padding-bottom: 2.5%;
    margin: 3px 3px;
}

.text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articles {
    background-color: rgba(229, 199, 184, 0.6);
    width: 49%;
    height:auto;
    padding-top: 2.5%;
}

.article-links {
    font-size: 115%;
    line-height: 40px;
    list-style-type: none;
}

.articles iframe {
    width: 95%;
    height: 80%;
}

[id^=btn] {
    background-color: rgb(192,158,114,0.8)
}

[id^=btn]:hover {
    border: solid 1px black;
}

.benefits {
    background-color: rgba(229, 199, 184, 0.6);
    width: 45%;
    height: auto;
    padding: 2.5%;
}

.video-player {
    margin: 2.5% 2.5%;
    padding: 5px;
    background-color: rgba(229, 199, 184, 0.6);
    width: auto;

    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.video-player iframe {
    padding: 10px;
}

/* sign-up form  */

.sign-up-section {
    height: 600px;
    width: 100%;
    margin: 10px 0;

    background-image: url('../images/pexels-vishal-amin-910307.jpg');
    background-position: top center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    min-height: 400px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.6);
    /* margin: 50px 38%; */
    padding: 25px;
    position: absolute;
    line-height: 25px;
}


.sign-up-form h3 {
    text-align: center;
}

.form-details {
    width: 100%;
    height: 30px;
    border:rgba(229, 199, 184, 1) solid 2px;
}

.form-details:hover {
    border: black solid 2px;
}

#submit {
    display: block;
    height: 30px;
    width: 50px;
    border:rgba(229, 199, 184, 1) solid 2px;
}

#submit:hover {
    border: black solid 2px;
}

/* footer */
footer {
    height: 150px;
    background-color: rgba(229,199,184,0.5);
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 2.5%;
    color: rgba(192,163,126,1);
}

/* responsive design elements for screens below 800px */

/* nav bar */
@media screen and (max-width: 800px) {
    .menu {
        flex-direction: column;
        text-align: center;
        clear: both;
        float: none;
    }

    .menu a {
        border-top: solid black 1px;
        padding: 20px;
        margin: 1px;
    }

    /* yoda, meditation and mindfulness sections */

    .text-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .benefits {
        width: 95%;
    }

    .articles {
        width: 100%;
        border-top: solid black 1px;
    }

    #google-articles {
        min-height: 300px;   
    }

    .video-player {
        width: auto;
    
        display: flex;
        flex-direction: column;
    }

    .video-player iframe {
        width: 95%;
    }
}