@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Cormorant+SC&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: Roboto, sans-serif ;
}

/* headings and logo */

h1{
    font-family: Roboto, sans-serif;
}

h2 {
    font-family: 'Calligraffitti', sans-serif;
}

h3 {
    font-family: 'Cormorant SC', sans-serif;
}

#logo {
    float: left;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    color: inherit;
}

#menu {
    float: right;
}

#menu li {
    list-style: none;
    display: inline-block;
    padding-top: 5%;
}

li a {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
}

li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* hero image */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-elina-fairytale-3822622.jpg') no-repeat;
    background-size: cover;
    background-position: center right
}

#hero-text {
    height: 150px;
    width: 100%;

    position: absolute;

    bottom: 75px;

    font-size: 200%;
    line-height: 50px;
    text-align: center;
}

/* yoga, mediation and mindfulness sections */

#sections-heading {
    font-size: 170%;
}

#sections {
    text-align: center;
    width: 100%;
}

#sections div {
    display: inline-block;
    height: 300px;
    width: 33%;
}
   
h2 > i {
    font-size: 300%;
    padding-top: 2%;
}

#sections div > h3 {
    font-size: 200%;
    text-decoration: underline;

}


.yoga-div {
    background-color: #c0a37e;
}

.med-div {
    background-color: #C09E72;
} 

.mind-div {
    background-color: #c0a37e;
}